# Adres backendu API
# W trybie dev Vite proxy przekierowuje /api → VITE_API_URL
# Możesz też wskazać bezpośrednio adres backendu
VITE_API_URL="http://localhost:3001"

# Nazwa aplikacji (wyświetlana w UI)
VITE_APP_NAME="NP-Manager"
